.container {
  position: absolute;
  top: 0px;
  left: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.container div {
  border: 1px solid black;
  padding: 12px;
}
.left_column {
  width: 200px;
}
.right_column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main_chat {
}

.thread_item {
}

.chat_bubble > span {
  padding: 6px;
  border-radius: 6px;
}
.chat_bubble.theirs {
  text-align: left;
}
.chat_bubble.yours {
  text-align: right;
}

.chat_bubble.theirs > span {
  background-color: lightgrey;
  color: black;
}
.chat_bubble.yours > span {
  background-color: blue;
  
  color: white;
}

.chat_window {
  flex: 1;
}

.controls {
}
.chat_controls {
  display: flex;
  flex-direction: row;

}
.chat_input {
  flex: 1;
}
.chat_send {
  width: 64px;
  height: 24px;
}
